.about-section{
    height: 80vh;
    background-color: rgb(39, 43, 68);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.about-name-title{
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1.5px;
    cursor: pointer;
}


.about-name-desc{
    font-size: 1.5em;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
}

/* .lines{
    position: absolute;
    top: calc(13vh);
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;
} */

.line{
    position: absolute;
    width: 1px;
    height: 80vh;
    top: calc(12vh);
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.line::after{
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: run 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1){
    margin-left: -25%
}
.line:nth-child(1)::after{
    animation-delay: 2s
}
.line:nth-child(3){
    margin-left: 25%
}
.line:nth-child(3)::after{
    animation-delay: 2.5s
}


.social-link{
    display: flex;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}


.social-link > div{
    height: 28px;
    width: 28px;
    padding: 12px;
    border: 3px solid #ff4a57!important;
    border-radius: 50px !important;
    display: inline-block;
    background: #1F2235;
    cursor: pointer;
    /* z-index: 1; */
}

.social-link > div:nth-child(2) {
    margin-left: 15px;
}

.social-link > div:nth-child(3){
    margin-left: 15px;
}

.social-link > div:hover{
    background-color: #ff4a57 !important;
    transition: 1s;
}

@keyframes run {
    0%   { top: -50%}
    100% {top: 110%}
}




@media only screen and (max-width: 768px) {
    .about-section{
        height: 55vh;
    }
    .about-name-title{
        font-size: 2rem;
    }
    .about-name-desc{
        font-size: 1.3rem;
        padding: 20px;
    }
    .line{
        height: 55vh;
        top: calc(10vh);
    }    
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 850px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .about-name-title{
        font-size: 2rem;
    }
    .about-name-desc{
        font-size: 1.3rem;
        padding: 20px;
    }
    .line{
        top: calc(18vh);
    }
}

/* Ipad pro portrait */
@media only screen 
and (min-device-width: 1024px) 
and (max-device-height: 1366px) 
and (-webkit-min-device-pixel-ratio: 2)  
and (orientation: portrait) {
    .line{
        top: calc(7vh);
    }
    .about-section{
        height: 40vh;
    }
    .line{
        height: 40vh;
    }
    
}

/* ipad */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
    .line{
        top: calc(9vh);
    }
}

/* Ipad Pro Landscape */
@media only screen 
and (min-device-width: 1366px) 
and (max-device-height: 1024px) 
and (-webkit-min-device-pixel-ratio: 2)  
and (orientation: landscape)  {
    .line{
        top: calc(9vh);
    }
}


/* Iphone 5 */
@media only screen 
  and (width: 320px) 
  and (height: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .line{
        top: calc(15vh);
        height: 70vh;
    }
    .about-section{
        height: 70vh;
    }
    .about-name-title{
        font-size: 1.4rem;
    }
    .about-name-desc{
        font-size: 1rem;
        padding: 20px;
    }
}

/* Iphone 5 landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .about-section{
        height: 120vh;
    }
    .line{
        top: calc(25vh);
        height: 120vh;
    }
    .about-name-title{
        font-size: 1.4rem;
    }
    .about-name-desc{
        font-size: 1rem;
        padding: 20px;
    }
}

/* Iphone 6 landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .about-section{
        height: 80vh;
    }
    .line{
        top: calc(23vh);
        height: 80vh;
    }
    .about-name-title{
        font-size: 1.4rem;
    }
    .about-name-desc{
        font-size: 1rem;
        padding: 20px;
    }
}

@media only screen and (min-device-height: 10px) 
                   and (max-device-height: 530px) 
                   and (orientation: landscape) {
                    .about-section{
                        height: 80vh;
                    }
                    .line{
                        top: calc(16vh);
                        height: 80vh;
                    }
                    .about-name-title{
                        font-size: 1.4rem;
                    }
                    .about-name-desc{
                        font-size: 1rem;
                        padding: 20px;
                    }
}