.intro-title{
    margin-top: 3%;
    font-size: 1.8rem;
    font-weight: 900;
    color: #fff;
    text-align: center;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.intro-title hr{
    border: 2px solid red;
    width: 100px;
}

.intro-content{
    display: flex;
    padding: 50px;
    justify-content: space-evenly;
    align-items: center;
}

.intro-image{
    width: 45%;
    flex: 1;
}
.intro-image img{
    margin-left: 15%;
}
.intro-desc{
    width: 45%;
    flex: 1;
}
.intro-desc h2{
    font-weight: 900;
    color: #ff4a57;
}

.intro-desc p {
    text-align: justify;
    font-size: 1.1rem;
    /* color: #fff; */
}



@media only screen and (max-width: 768px) {
    .intro-content{
        flex-direction: column;
    }
    .intro-image img{
        margin-left: 2%;
    }
    .intro-image{
        width: 100%;
    }
    .intro-desc{
        width: 100%;
        margin-top: 10px;
    }
    .intro-image img{
        position: relative;
        left: 30px;
    }
}

@media screen 
  and (device-width: 411px) 
  and (device-height: 823px) 
  and (-webkit-device-pixel-ratio: 3.5) 
  and (orientation: portrait) {
    .intro-image img{
        position: relative;
        left: 30px;
    }
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 850px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .intro-desc p{
        font-size: .8rem;
        padding: 10px
    }
    .intro-desc h2{
        font-size: 1rem;
        padding-left: 10px;
    }
    .intro-title{
        font-size: 1.4rem;
    }
    .intro-image img{
        position: relative;
        left: 30px;
    }
  }

  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .intro-desc p{
        font-size: .8rem;
        padding: 10px
    }
    .intro-desc h2{
        font-size: 1rem;
        padding-left: 10px;
    }
    .intro-image img{
        margin-left: -35px !important;
    }
    .intro-image img{
        position: relative;
        left: 30px;
    }
  }