.portfolio-section{
    padding: 30px 20px 100px 20px
}
.portfolio-title{
    margin-top: 3%;
    font-size: 1.8rem;
    font-weight: 900;
    color: #fff;
    text-align: center;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.portfolio-title hr{
    border: 2px solid red;
    width: 100px;
}

.portfolio-content{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.portfolio-card-container{
    display: flex;
    justify-content: space-evenly;
}

.portfolio-card{
    /* height: 30vh; */
    width: 30%;
    background: #23263a !important;
    margin: 20px 0 10px 0;
    padding-bottom: 20px;
    border-radius: 7px !important;
}


.portfolio-card:hover{
    /* transform: scale(1.01); */
    transition: .5s linear;
}


.portfolio-card:hover .portfolio-image{
    opacity: 0.7;
}
.portfolio-card-header{
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 20px;
}

.portfolio-card-header:hover{
    color: #ff4a57;
    transition: .5s;
    cursor: pointer;
}

.portfolio-card-desc{
    color: #ddffdd;
    font-size: 1rem;
    font-weight: 500;
    text-align: justify;
    padding: 10px;
}

.portfolio-card-button-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 0 10px 10px;
    color: #ff4a57;
    font-weight: 500;
    font-size: 1.1rem;
    letter-spacing: 1.2px;
}
.portfolio-card-desc:hover{
    color: #ff4a57;
    transition: .5s;
    cursor: pointer;
}

.portfolio-card-button-container:hover{
    cursor: pointer;
    color: #fff;
}

.portfolio-card-button-icon{
    margin-left: 3px;
}

.portfolio-card-button-container:hover .portfolio-card-button-icon{
    margin-left: -7px;
    transition: .5s;
}

.portfolio-image{
    border-radius: 6px;
}

.modal-one{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;

}

.modal-one-header{
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: 900;
    color: #fff;
    margin-top: 15px;
}

.modal-one-header:hover{
    color: #ff4a57 !important;
    transition: .5s linear;
}
.modal-one-content-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px
}

.modal-one-content-item div:nth-child(2){
    margin-left: 7px;
}

.modal-one-content{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.portfolio-live-link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 80%;
    background: rgb(39, 43, 68) !important;
    color: #fff !important;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 30px;
    border: 2px solid #ff4a57;
}

.portfolio-live-link a:hover{
    color: #ff4a57;
    transform: .5s linear;
    cursor: pointer;
}


.portfolio-live-link a{
    text-decoration: none;
    color: #fff;
    margin-left: 5px;
}

.Modal {
    position: absolute;
    width: 50%;
    max-height: 80vh;
    overflow: scroll;
    top : 50%;
    left : 50% ;
    transform : translate(-50%, -50%);
    background: rgb(39, 43, 68) !important;
    border: none !important;
    border-radius: 5px;
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color :  rgba(255, 255, 255, 0.75);
  }


@media only screen and (max-width: 768px) {
    .portfolio-card-container{
        flex-direction: column;
    }
    .portfolio-card{
        width: 100%;
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }
    .Modal {
        width: 90%;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 850px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .portfolio-title{
        font-size: 1.4rem;
    }  
    .portfolio-card-header{
        font-size: 1rem;
    }
    .portfolio-card-desc{
        font-size: .8rem;
    }
    .Modal {
        width: 90%;
    }
  }

  @media only screen and (min-device-height: 10px) 
                   and (max-device-height: 530px) 
                   and (orientation: landscape) {
                    .Modal {
                        width: 90%;
                    }
}